/* body
--------------------------------------------------*/
body {
  color:#000000;
    background:url(images/back.jpg);
	/*background-color: #999999; */
	/*background-repeat: repeat-y; */
	background-position:center; 
	background-attachment: fixed;
}

body#commentspopup {background:white;}


/* headings
--------------------------------------------------*/
h1, h1 a,
h2, h2 a,
h3 a,
h4 a
  { color:#817f7f; text-align: left; }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover
  { color:#fc7a45; text-align: left; }


/* links
--------------------------------------------------*/
a {color:#817f7f;}

a:hover {color:#FC7A45;}

a.commentlink {
  padding-left:16px;
  background:url(images/spring_flavour/comments.gif) center left no-repeat;
}

a.more {
  padding-right:10px;
  background:url(images/spring_flavour/more.gif) center right no-repeat;
}


/* paragraphs, lists, etc
--------------------------------------------------*/
pre,
code
  {background-color:#817f7f;}

kbr {color:#FC7A45;}


/* container
--------------------------------------------------*/
#container {
  padding-top:0;
  /*border-top:30px solid white;*/
  /*background:white url(images/spring_flavour/container_bg.gif) 265px 0px repeat-y;*/
  background-color: #FFFFFF;
}

#container.singlecol,
#commentspopup #container {background-image:none;}



/* header
--------------------------------------------------*/
#header {
  background-color:#ffffff;
  background-image:url(images/banner.jpg);
  margin: 0px 0px 0px 30px;
  background-repeat:no-repeat; 
}


/* navigation
--------------------------------------------------*/

#navigation {
font-family:"Silkscreen", "sylfaen";
font-size: 10px;
	background-color:#000000;
	color:#FFFFFF;}

#navigation a {
	color:#FFFFFF;
}

#navigation .selected,
#navigation a:hover
{
color:orange;
}

#navigation img
{
	position: relative;
	left: 385px;
	top: 5px;
}

/* Entry
--------------------------------------------------*/
.entry {margin:0 0 40px 0;}

.entry .author {}

.entry .info {
  border-color:#817f7f;
  background-color:#FAFAFA;
}

.entry .info a {border-color:#817f7f;}

.entry a.more {
  padding-left:12px;
  background:url(images/spring_flavour/more.gif) center left no-repeat;
}

.entry .info .date {
  padding-left:15px;
  background:url(images/spring_flavour/post.gif) center left no-repeat;
}

.entry .info .author {
  padding-left:23px;
  border-color:#817f7f;
  background:url(images/spring_flavour/author.gif) 10px 2px no-repeat;
}

.entry #filedunder {border-color:#F3F4F4;}


/* Mini-Entry
--------------------------------------------------*/
.minientry  {border-color:#FC7A45;}

.minientry .commentlink {border-color:#FC7A45;}

.minientry .permalink {
  padding-left:15px;
  background:url(images/spring_flavour/post.gif) center left no-repeat;
}

.minientry .author {
  padding-left:23px;
  border-color:#FC7A45;
  background:url(images/spring_flavour/author.gif) 10px 2px no-repeat;
}


/* Comments
--------------------------------------------------*/
#comments h2 {margin-bottom:24px;}

#comments h2 a {color:#FC7A45;}

#comments li.comment {list-style-image:url(images/spring_flavour/comments.gif);}

#comments li.trackback,#comments li.pingback {list-style-image:url(images/spring_flavour/pingtrackback.gif);}

#commentform {background-color:#FFFFFF;}

#comments .header {background-color:#FFFFFF;}

#comments .header.alt {background-color:#FC7A45;}


/* form
--------------------------------------------------*/
form p {border-color:white;}

form label { color:#817f7f;}

form em {color:#FFFFFF;}

form input {color:#FC7A45;}

form input, form textarea {
  border-color:#DCDCDC #F0F0F0 #F0F0F0 #DCDCDC;
}

form .button {
  border-color:white #DCDCDC #DCDCDC white;
  background-color:#F0F0F0;
}


/* Archives
--------------------------------------------------*/
.archive .postspermonth {color:#A0A0A0;}


/* content misc
--------------------------------------------------*/
.next a {
  padding-right:10px;
  background:url(images/spring_flavour/next.gif) center right no-repeat;
}

.previous a {
  padding-left:10px;
  background:url(images/spring_flavour/previous.gif) center left no-repeat;
}

#entrynavigation {border-color:#817f7f;}

.editlink {
  position:absolute;
  height:14px;
  width:14px;
  right:2px;
  background:url(images/spring_flavour/edit.gif) 0 -14px;
}

html>body .editlink {bottom:6px;}

.entry .info .editlink a,
.minientry .editlink a,
#comments li .editlink a {
  display:block;
  height:14px;
  width:14px;
  margin:0;
  padding:0;
  border:none;
  font-size:1px; /* IEWin */
  line-height:0; /* IEWin */
  text-indent:-9999px;
  background:url(images/spring_flavour/edit.gif) 0 0;
}

.entry .info .editlink a:hover,
.minientry .editlink a:hover,
#comments li .editlink a:hover
  {background:none;}


/* subcontent
--------------------------------------------------*/
#subcontent {
}


/* subcontent headings
--------------------------------------------------*/
#subcontent h2 {
background:url(images/1.gif) no-repeat;
  color:orange;
 /* background:#000000;*/
}

#subcontent h2 em {/*background:url(images/spring_flavour/corner_bottom_right.gif) bottom right no-repeat;*/}


/* subcontent list
--------------------------------------------------*/
#subcontent ul li {border-bottom-color:#F0F0F0;}

#subcontent li a:hover {background-color:#FFFBF0;}

#subcontent ul.pages li {list-style-image:url(images/spring_flavour/post_yellow.gif);}

#subcontent ul.categories li,
#subcontent ul.months li {list-style-image:url(images/spring_flavour/categories_yellow.gif);}

#subcontent ul.links li {list-style-image:url(images/spring_flavour/links_yellow.gif);}

#subcontent ul.feeds li {list-style-image:url(images/spring_flavour/feeds_yellow.gif);}

#subcontent ul.posts li {list-style-image:url(images/spring_flavour/post_yellow.gif);}

#subcontent ul.categories li li {list-style-image:url(images/spring_flavour/sub_categories_yellow.gif);}


/* calendar
--------------------------------------------------*/
#wp-calendar {color:#A0A0A0;}

#subcontent table caption {border-bottom-color:#FFFFFF;}

#subcontent table thead tr {
  border-bottom-color:#FC7A45;
  color:#FC7A45;
}

#subcontent table th {border-bottom-color:#F3F4F4;}

#subcontent table td#today {
  border-color:#F3F4F4;
  color:#414141;
}

#subcontent table td a {
  border-bottom-color:#8DC86D;
  background-color:#EDF3DE;
}

#subcontent table tfoot {border-top-color:#F3F4F4;}

#subcontent table tfoot a {background:none;}


/* footer
--------------------------------------------------*/
#footer {
 margin: 0px 0px 0px 30px;
  color:#A0A0A0;
  background:white url(images/spring_flavour/footer_bg.gif) 470px 0px no-repeat;
}

.singlecol #footer {background-image:none;}

#footer p {border-top:6px solid #FFFFFF;}

#footer a {color:#A0A0A0;}

#footer a:hover {color:#414141;}

#footer strong {color:#FC7A45;}